<nav>
    <div class="nav-bg"></div>
    <ul>
      <li><a mat-button routerLink="/search"> Search </a></li>
      <li><a mat-button routerLink="/stats"> Stats </a></li>
      <li><a mat-button routerLink="/favs"> Favourites </a></li>
      <li><a mat-button routerLink="/recom"> Recommended </a></li>
      <li> <a mat-button (click)="logout()"> Log Out</a></li>
    </ul>
    
  </nav>
  <div class="hero">
    <h1>Welcome to Cricket Players</h1>
  </div>
  <div class="content-wrapper">
    <div class="wrapper">
      <h2><strong>Top 6 Bowler's</strong></h2>
      <div class="cards">
        <figure class="card">
          <img src="../../../assets/players/pat.jpeg" />
          <figcaption>Pat Cummins</figcaption>
        </figure>
        <figure class="card">
          <img src="../../../assets/players/starc.jpeg" />
          <figcaption>Mitchell Starc</figcaption>
        </figure>
        <figure class="card">
          <img src="../../../assets/players/bumrah.jpeg" />
          <figcaption>Jasprit Bumrah</figcaption>
        </figure>
        <figure class="card">
          <img src="../../../assets/players/holder.jpeg" />
          <figcaption>Jason Holder</figcaption>
        </figure>
        <figure class="card">
          <img src="../../../assets/players/wagner.jpeg" />
          <figcaption>Neil Wagner</figcaption>
        </figure>
        <figure class="card">
          <img src="../../../assets/players/tim.jpeg" />
          <figcaption>Tim Southee</figcaption>
        </figure>
      </div>
    
      <h2><strong>Top 6 Batsmam's</strong></h2>
      <div class="cards">
        <figure class="card">
          <img src="../../../assets/players/smith.jpeg" />
          <figcaption>Steve Smith</figcaption>
        </figure>
        <figure class="card">
          <img src="../../../assets/players/kohli.jpeg" />
          <figcaption>Virat Kohli</figcaption>
        </figure>
        <figure class="card">
          <img src="../../../assets/players/labus.jpeg" />
          <figcaption>Marnus Labuschagne</figcaption>
        </figure>
        <figure class="card">
          <img src="../../../assets/players/kane.jpeg" />
          <figcaption>Kane Williamson</figcaption>
        </figure>
        <figure class="card">
          <img src="../../../assets/players/azam.jpeg" />
          <figcaption>Babar Azam</figcaption>
        </figure>
        <figure class="card">
          <img src="../../../assets/players/warner.jpeg" />
          <figcaption>David Warner</figcaption>
        </figure>
      </div>
    
 </div>